/* ===== Footer ===== */
.site-footer {
    background-color: #0a1f38;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
  }
  .site-footer__inner {
    max-width: 1000px;
    margin: 0 auto;
  }
  .site-footer p {
    color: #ffffff !important;
   font-size: 1.25rem;     /* de 1rem a 1.25rem (≈20px) */
   line-height: 1.5;
    text-align: center;
}

  