body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #9b33b5, #d4a4e0c8, #ececec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    background: #9b33b5;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #7c278f;
}

/* Estilo para el botón de Admin */
.admin-btn {
    background: transparent;
    border: 2px solid #9b33b5;
    color: #9b33b5;
}

.admin-btn:hover {
    background: #9b33b5;
    color: white;
}
